<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.applicationLaunchType">
<stringAttribute key="ATTR_PERFORMANCEBUILD_CONFIGURATION_NAME" value=""/>
<stringAttribute key="ETFW_VERSION" value="sax-parser"/>
<booleanAttribute key="analyze_existing_perf_data_in_specified_location_build/run_nothing" value="false"/>
<listAttribute key="argument names use in parametric study"/>
<listAttribute key="argument values use in parametric study"/>
<booleanAttribute key="build_but_do_not_run_instrumented_executable" value="false"/>
<stringAttribute key="compiler optimization levels to use in parametric study" value=""/>
<listAttribute key="env-var names to use in parametric study"/>
<listAttribute key="env-var values to use in parametric study"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.DEBUG_NAME" value="gdb"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.GDB_INIT" value=".gdbinit"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.commandFactory" value="org.eclipse.cdt.debug.mi.core.standardLinuxCommandFactory"/>
<booleanAttribute key="org.eclipse.cdt.debug.mi.core.verboseMode" value="false"/>
<intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="org.eclipse.cdt.debug.mi.core.CDebuggerNew"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_ARGUMENTS" value="121.0/12.3"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/DCalc"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="DCalc"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="cdt.managedbuild.config.gnu.exe.debug.313300884"/>
<booleanAttribute key="org.eclipse.cdt.launch.use_terminal" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DCalc"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<intAttribute key="org.eclipse.linuxtools.oprofile.launch.oprofile.EXECUTIONS_NUMBER" value="1"/>
<stringAttribute key="org.eclipse.linuxtools.oprofile.launch.oprofile.KERNEL_IMAGE" value=""/>
<stringAttribute key="org.eclipse.linuxtools.oprofile.launch.oprofile.OPROFILE_COMBO_TEXT" value="operf"/>
<intAttribute key="org.eclipse.linuxtools.oprofile.launch.oprofile.SEPARATE_SAMPLES" value="0"/>
<booleanAttribute key="org.eclipse.linuxtools.oprofile.launch.oprofile.USE_DEFAULT_EVENT" value="true"/>
<stringAttribute key="path to the perfexplorer script to use in parametric study" value=""/>
<stringAttribute key="provider" value="org.eclipse.linuxtools.oprofile.launch.provider"/>
<stringAttribute key="selected_performance_tool" value="Specify a valid tool configuration file in Performance Tool preferences"/>
<listAttribute key="tells which para args are checked"/>
<listAttribute key="tells which para vars are checked"/>
<booleanAttribute key="use simple weak scaling in perf parametric tests" value="false"/>
<booleanAttribute key="use the parametric analysis system" value="false"/>
</launchConfiguration>
